
<html>
    <head>
        <title>Login</title>
        <link href="{{ url_for('static', filename='main.css') }}" type="text/css" rel="stylesheet">

    </head>
    <body>

        <div class="wrapper">
            <header class="header-content">
                <h2>Greenhouse Project</h2>
                <h1>Enter Your ID</h1>
            </header>

        
        </div>


        <div class="content data">
            <form action="/register" method="post">
                <label><h2>Name</h2></label>
                <input type="text" name="username"><br>
            
                <label><h2>ID</h2></label>
                <input type="text" name="ID"><br>

                <input class="submit" type="submit" value="ENTER"></input>
            </form>
        </div>

    </body>
</html>

