<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Scheme</title>
    <link href="{{ url_for('static', filename='main.css') }}" type="text/css" rel="stylesheet">
    
</head>
<body>

    
    <div class="wrapper">

    
        <header class="header-content">
            <button class="Logout"><a href="http://127.0.0.1:5000/">Log out</a></button>
            <h2>Greenhouse Project</h2>
            <h1>Networking Plan of the Green House</h1>
        </header>

        <ul>
            <li><a href="http://127.0.0.1:5000/hello">Home</a></li>
            <li><a href="http://127.0.0.1:5000/greenhouse_project">Sensors</a></li>
            <li><a href="http://127.0.0.1:5000/network">Network</a></li>
            <li><a href="http://127.0.0.1:5000/data">Data</a></li>
        </ul>
    </div>
    
    <div class="greenhous_data">
        <img class="greenhous_data" src="../static/greenhous_network.png" alt="greenhous_data">
        <p> Here you can see the drawing of a network plan for my Greenhouse main complex. <br>The modem
            is connected to the Internet through firewall.There are two routers, first one <br>
            is for the main comolex and offices. Secod one is for the green house. There are 3 <br>switches 
            for the offices. Every switch providing Internet connection for the computers,<br> telephones
            and the printers. There is a wireless connection for the personel and there is a <br> wireless
            connection for the guests.
        </p>
        
        <img class="greenhous_data" src="../static/greenhous_network4.png" alt="greenhous_data">

    </div>

       
    <footer>
        <span class="disclaimer">This website is created only for educational purposes</span>
        <span class="credits">Made by Ihsan KAYIKCI</span>
    </footer>
</body>
</html>